<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Счеты</title>
</head>
<body>
    <container>
            <p><b>Первое число:</b></p>
                <input type="text" size="40" id="string_1">
            <p><b>Второе число:</b></p>
                <input type="text" size="40" id="string_2">
        </br>
        <form action="add.html"><button type="submit" name="add">Сложить</button></form>
        </br>
        <form action="substract.html"><button type="submit" name="substract">Вычесть</button></form>
        </br>
        <form action="multiply.html"><button type="submit" name="multiply">Умножить</button></form>
        </br>
        <form action="divide.html"><button type="submit" name="divide">Разделить</button></form>
    </container>
</body>
</html>